
<div class="dog">

  <h1>Current Breeds in System</h1>
  <%=link_to 'New', new_breed_path%>

  <table style="width:100%">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <%@breeds.each_with_index do |breed, index|%>
        <tr>
          <td><%= index%></td>
          <td><%= breed.name.humanize %></td>
          <td><%= link_to 'Details', breed_path(breed)%></td>
        </tr>
        <h3></h3>
    <%end%>
  </table>

</div>


