
<%= link_to 'Back', breeds_path%>
<p style="color: red;font-size: 12px;"><%= flash[:errors].join(', ') if flash[:errors]%></p>

<hr/>
<h2>Create & Find New Breed</h2>
<%= form_for @breed do |f|%>
    <%= f.text_field :name%>
    <%= f.submit%>
<%end%>